.mainFooter {
    .footerNav {
        display: flex;
        h4 {
            color: $white;
            margin-bottom: 10px;
        }
        a {
            color: rgba($white, .5);
        }
        ul {
            padding: 10px 0;
        }
    }
    .footerTop {
        position: relative;
        padding: 20px 0;
        background: url('../img/footer/footer-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            background: url('../img/footer/logo-footer.png');
            background-repeat: no-repeat;
            width: 45%;
            height: 110%;
        }
        .copy {
            color: rgba($white, .5);
            font-size: 0.8rem;
            a {
                color: palette(1);
            }
        }
    }
    .footerBottom {
        padding: 30px;
        background: palette(3);
        .btnContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .socials {
            display: flex;
            align-items: center;
            color: $white;
            a {
                color: $white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                font-size: 1.5rem;
                margin: 0 10px; 
                background: rgba($white, .4);
                color: palette(3);
                border-radius: 50%;
            }
        } 
    }
}