// Colors
$palette:(#0282f9, #464646, #303030, #1c1c1c, #55ba59, #00a9d9);

@function palette($col) {
    @return nth($palette, $col);
}

$white: #fff;
$black: #000;

$comicTitle: #003f5e;

// Base font
$baseFont: 16px 'Hammersmith One', sans-serif;