.comics {
    position: relative;
    top: -85px;
    z-index: 2;
    background: palette(4);
    color: $white;
    .comicsType {
        font-weight: bold;
        position: absolute;
        top: 0;
        transform: translateY(-100%) translateX(-20%);
        padding: 10px 15px;
        font-size: 2rem;
        background: palette(1);
        color: $white;
    }
}
.comicsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1.5rem;
    a {
        color: $white;
        font-weight: bold;
    }
}